.page{
    width:1200px;
    margin: 0 auto;
}
.main{
    width: 65%;
    float: left;
    margin-right: 5%;
}
.sidebar{
    width: 30%;
    float: right;
}
.clear{
    clear: left;
}
.content{
    background-color: khaki;
    padding: 15px;
}